/* browsertiles. 2010. Paul M. Watson <paul@paulmwatson.com> */
/* #TODO: Fix SegoeWP distribution. */
@font-face
{
  font-family: SegoeWP;
  src: url('/fonts/SegoeWP.ttf');
}

@font-face
{
  font-family: SegoeWPLight;
  src: url('/fonts/SegoeWP-Light.ttf');
}


html, body
{
  background-color: #353535;
  color: #fff;
  font-family: SegoeWPLight, helvetica, sans-serif;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body
{
  background-size: 100% auto;
}

h1
{
  font-size: 56px;
}

/* Theme Selector */
#theme_selector, #theme_selector li
{
display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
} 

#theme_selector
{
  position: absolute;
  right: 0;
  top: 0;
}

#theme_selector li
{
  float: left;
}

#theme_selector li button
{
  border-style: none;
}